{% extends "base.html" %}

{% block content %}

        <div class="row">
          <div class="col-lg-6 col-6">
            <!-- small box -->
            <form class="small-box bg-info"  method="post" action="/dashboard">
              <div class="inner">
                <h3>Weather</h3>
                <table class="table">
                  <tr>
                    <td><h3>{{ weatheroutput.name }}</h3></td>
                    <td><img src="static/dist/img/owm-icons/{{ weatheroutput.weather.0.icon }}@2x.png"></td>
                  </tr>
                  <tr>
                    <th>Weather:</th><td>{{ weatheroutput.weather.0.description.capitalize() }}</td>
                  </tr>
                  <tr>
                    <th>Temperature</th><td>{{ weatheroutput.main.temp }}°C</td>
                  </tr>
                  <tr>
                    <th>Humidity:</th><td>{{ weatheroutput.main.humidity }}%</td>
                  </tr>
                  <tr>
                    <th>Wind Speed:</th><td>{{ weatheroutput.wind.speed }}km/h</td>
                  </tr>
                  <tr>
                    <td colspan="2">
                    <form>
                      <div class="input-group">
                        <select class="custom-select" id="cityweather" name="cityweather" aria-label="Select a different city">
                          <option selected>Select a different city</option>
                          <option value="Graz,AT">Graz</option>
                          <option value="Linz,AT">Linz</option>
                          <option value="London,UK">London</option>
                          <option value="Paris,FR">Paris</option>
                          <option value="Vienna,AT">Vienna</option>
                        </select>
                      </div>
                      <br>
                      <button class="btn btn-default" type="submit">Show weather</button>
                    </td>
                  </tr>
                </table>
              </div>
            </div>
          </form>

          <!-- ./col -->
          <div class="col-lg-6 col-6">
            <!-- small box -->
            <div class="small-box bg-success">
              <div class="inner">
                <h3>Messages</h3>
                <table class="table">
                  <tr><th>From</th><th>Message</th><th>Read</th></tr>
                  {% for message in messages %}
                  <tr><td>{{ message.sender }}</td><td>{{ message.messagetext }}</td><td>{{ message.messageread }}</td></tr>
                  {% endfor %}
                </table>
              </div>
              <a href="/messages" class="small-box-footer">More Message <i class="fas fa-arrow-circle-right"></i></a>
            </div>
          </div>
          <!-- ./col -->
        </div>
        <!-- /.row -->
        <!-- Main row -->

{% endblock content %}