{% extends "base.html" %}

{% block content %}
        <div class="row">
          <div class="col-lg-12 col-12">
            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">{{user.name}}</h3>
                <div class="card-tools">
                  <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
                    <i class="fas fa-minus"></i></button>
                </div>
              </div>
              <div class="card-body">
                <p><strong>Your user name: </strong>{{user.name}}</p>
                <p><strong>Your email address: </strong>{{user.email}}</p>

                <p><a href="/profileedit" class="btn btn-primary"><i class="fas fa-user-edit"></i>&nbsp;Edit profile</a>&nbsp;<a href="/profiledelete" class="btn btn-danger"><i class="far fa-trash-alt"></i>&nbsp;Delete profile</a></p>
              </div>
            </div>
          </div>
        </div>

{% endblock content %}