{% extends "base.html" %}

{% block content %}
        <div class="row">
          <div class="col-lg-12 col-12">
            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">All Users</h3>
                <div class="card-tools">
                  <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
                    <i class="fas fa-minus"></i></button>
                </div>
              </div>
              <div class="card-body">

                <h3>Profile from {{user.email}}</h3>
                <p><strong>Selected user's name: </strong>{{user.name}}</p>
                <p><strong>Selected user's email address: </strong>{{user.email}}</p>

              </div>
            </div>
          </div>
        </div>
{% endblock content %}